@font-face { 
font-family: "Avara"; 
font-weight: normal; 
src: url("Avara-Italic.woff") format("woff"); 
}
:root{
--foreground: rgb(77, 65, 161);
--background: rgb(255 255 255);
--hover: rgb(219 217 237);
--subtle: rgb(249 249 252);
}
body{
color: var(--foreground);
background-color: var(--background);
margin:0;
font-family: Arial, sans-serif;
font-size: larger;
margin: 0 5vw;
}

hr, footer{
border: none;
border-top: 3px solid var(--foreground);
}
h1,h2,h3{
font-weight: normal;
font-family: "Avara", serif;
}
h1 > a,h2 > a,h3 > a{
text-transform: none;
}
h1{
font-size: 200%;
}
a{
color:inherit;
text-transform: uppercase;
}
blockquote{
border-left: 3px solid var(--hover);
padding: 0 1em;
margin: 1em;
}
.logo{
width: 40px;
fill:var(--foreground);
margin: auto;
display:block;
}
details{
padding: 1em 0;
border-top: 2px solid;
}
summary{
cursor: pointer;
font-family: "Avara", serif;
}
details p:last-child{
margin-bottom:0;
}
details ul{
list-style-image: url("data:image/gif;base64,R0lGODdhDQARAJEAAAAAAE1Bof///wAAACH5BAkAAAMALAAAAAANABEAAAIknI9pcazhRkxwqcbmkxdnD4WVNC4aVT5Z2ljs6JRyh7DXSQ8FADs=");
padding-left: 17px;
}
ul li{
padding: 0.25em;
}
#transept{
background-color: var(--background);
padding-bottom: 2em;
}
#transept > hr{
margin: 1em 12% 3em;
animation: fade 3s;
}
#sky{
height: 12vh;
width: 100%;
display: flex;
align-items: end;
background-image: url("clouds.svg");
background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="733" height="298"><g fill="none" fill-rule="evenodd" stroke="%23dbd9ed" stroke-width="4"><path d="M76 41a35 35 0 0 1 29 16 35 35 0 0 1 56 25 36 36 0 0 1 5 55 35 35 0 0 1-56-7 35 35 0 0 1-35-1 35 35 0 0 1-54-30 35 35 0 0 1 20-33 35 35 0 0 1 14-18c6-4 13-7 21-7ZM151 184a27 27 0 0 1 27 29 20 20 0 0 0 5 0h2a27 27 0 0 1 19 46 27 27 0 0 1-34 3 27 27 0 0 1-36 7 27 27 0 0 1-10-11 27 27 0 0 1-24-8 27 27 0 0 1-38 0 27 27 0 0 1 19-46 27 27 0 0 1 10-15 27 27 0 0 1 38 6 27 27 0 0 1 22-11ZM516 58a20 20 0 0 1 20 22 19 19 0 0 0 5 0h1a20 20 0 0 1 14 34 20 20 0 0 1-26 2 20 20 0 0 1-27 6 20 20 0 0 1-8-9 20 20 0 0 1-19-6 20 20 0 0 1-28 0 20 20 0 0 1 15-34 20 20 0 0 1 7-11 20 20 0 0 1 29 5 20 20 0 0 1 17-9ZM333 41a48 48 0 0 1 45 64 49 49 0 0 1 20 24 48 48 0 0 1 40 48 48 48 0 0 1-65 45 49 49 0 0 1-82-1 48 48 0 0 1-46-13 48 48 0 0 1 6-73 48 48 0 0 1 43-75 49 49 0 0 1 39-19ZM614 129a33 33 0 0 1 31 45 33 33 0 0 1 14 16 33 33 0 0 1 28 33 33 33 0 0 1-45 31 33 33 0 0 1-56-1 33 33 0 0 1-32-9 33 33 0 0 1 5-50 33 33 0 0 1 28-52h1v-1c6-7 16-12 26-12Z"/></g></svg>');
background-position: 70% bottom;
background-repeat: repeat;
background-size: 600px;
animation: fade 0.5s;
}
#interior{
display:flex;
justify-content: center;
align-items: stretch;
}
.doorway{
flex-basis: 220px;
box-sizing: border-box;
border: 3px solid;
border-radius: 400px 400px 5px 5px;
margin: 2em 1em;
display: flex;
flex-direction: column;
-webkit-clip-path: border-box;
clip-path: border-box;
background-color: var(--subtle);
animation: fade 1s;
text-decoration: none;
}
.doorway-interior{
box-sizing: border-box;
flex-grow: 1;
padding: 2em 0 1em;
display: flex;
justify-content: center;
align-items: center;
}
.doorway-interior > img, .doorway-interior > svg{
width: 100%;
}
.caption{
text-align: center;
border-top: 3px solid;
margin:0;
padding: 0.5rem 0;
transition: 0.5s;
transition-property: background-color;
text-decoration: underline;
}
.caption:hover{
background-color: var(--hover);
}
.spacer{
flex-basis: 220px;
margin: 2em 1em;
}
.center{
box-sizing: border-box;
flex-basis: 40%;
flex-shrink:0;
display: flex;
justify-content: center;
align-items: center;
max-width: 60vh;
margin: 0 4vw;
border-radius: 1em;
padding: 0.5em;
height: 60vh;
}
.center > video, .center > img, .center > svg{
border-radius: 0.5em;
object-fit: contain;
width: 100%;
height: 100%;
}
.center > svg *, .doorway-interior > svg *, #nav-left *{
fill: var(--foreground);
}
.border{
border: 3px solid;
}
.fill > video, .fill > img{
object-fit: cover;
}


.info{
max-width: 600px;
margin:auto;
margin-bottom: 3em;
}

main{
padding: 2em;
background-color: var(--background);
}
table{
border-collapse: collapse;
width: 100%;
}
th,td{
border:3px solid;
padding: 0px;
}
th{
vertical-align:top;
font-weight: normal;
font-family: "Avara", serif;
padding: 4px;
text-align: left;
}
.table-heading{
width: 25%;
}
td > a{
transition: 0.5s;
transition-property: background-color;
display:block;
padding: 4px;
}
td > a:hover{
background-color: var(--hover);
}


nav{
font-weight: normal;
font-family: "Avara", serif;
font-size: 200%;
}
nav a{
text-decoration: none;
}
#nav-right{
position: fixed;
top: 0;
right: 1vw;
z-index: 2;
padding: 0;
display: flex;
margin:0;
}
#nav-right li{
list-style-type: none;
padding: 0;
}
#nav-left{
position: fixed;
top: 0.25em;
left: 1vw;
z-index: 2;
}

.arch{
position: fixed;
top: -10vw;
width: 40vw;
pointer-events: none;
}
.arch#arch-right{
right:calc(5vw - 4px);
}
.arch#arch-left{
left:calc(5vw - 4px);
}
.arch .line{
stroke: var(--foreground);
stroke-width:4px;
}
.arch .background{
fill: var(--subtle);
pointer-events: visible;
transition: 1s;
}
#background{
background-color: var(--subtle);
position: fixed;
top: 0; bottom: 0; right: 0; left: 0;
z-index: -1;
transition: 1s;
}
#wall:hover > #background, #wall:hover > .arch .background{
background-color: var(--hover);
fill: var(--hover);
}
.spaced{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
gap: 0.5em;
}



footer{
max-width: 600px;
margin: auto;
margin-top:3em;
}
footer ul{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
padding:1em;
}
footer li{
list-style-type: none;
padding: 0.3em;
}

@media (max-width: 800px) {
	body{
	display: block;
	}
	section.arch{
	position: static
	}
	table{
	font-size: 85%;
	}
}
@keyframes fade {
  0%{ opacity: 0.2 }
  100% { opacity: 1 }
}
@media (prefers-color-scheme: dark) {
	:root{
	--foreground: rgb(255 255 255);
	--background: rgb(28 24 61);
	--hover:rgb(74 70 100);
	--subtle: rgb(28 24 61);
/* dark mode subtle: rgb(32 28 72) */
	}
	.center > video, .center > img{
	background-color: var(--foreground)
	}
	#sky{
		background-image: url("stars.svg");
		background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 938 310"><g fill="none" fill-rule="evenodd"><path fill="%23FFF" d="m324 164 1-1h2l-3 13h6l-2-6v-4l2-2 1 2 8 4h3l1-3-1-1-12-5v-1l15-3-2-3h-1l-5 1-4 2h-2l6-12v-2l-1 2-5 7-1-4-2-3h-1v4l1 3c2 3 0 5-3 5h-4l-2 1h2l3 3-3 3-5 6v2l2-2 6-6Zm74 103 3-3-3 15h1l3-2h2v-10l1-2 2 2 6 6 4-2v-3c-5 0-9-2-13-4l1-2 15-3-3-3-1-1-5 1-4 3 6-12v-3l-2 2-6 9-1-5-2-4h-1v6l1 3c2 1 0 3-1 3h-6v3l3 1-3 5-3 4-2 2h2l6-6Zm82-86 1-3 2 1-3 14h6l-2-6v-6h3l6 6c2 1 3 0 5-2l1-1v-2h-1c-4 0-8-2-12-4v-2l15-3-2-3h-1l-5 2-4 1h-2l6-12v-3l-1 2-6 9v-5l-2-4h-1v6l1 3c0 1 0 3-3 3h-6v3h2l1 3-3 3-3 6v1l2-1 6-6ZM37 106l1-1h2l-3 13h6l-2-6v-4l2-2 1 2 6 4h5l1-3-1-1-12-5v-1l15-3-2-3h-1l-5 1-4 2h-2l6-12v-2l-1 2-6 7v-4l-2-3h-1v4l1 3c0 3 0 5-3 5h-6v1h2l1 3-1 3-5 6v2l2-2 6-6Zm641 93v3h-1l-6-14-2 2-1 3h-2l5 4 3 3v3h-11c-1 0-3 2-1 3v3h1c4-2 8-4 12-4l2 1-11 12h6l2-4 3-3v-2l3 14 1 1v-12l3 2 5 3v-2l-3-4h-3c-3-2-3-3-2-5l3-3 2-1v-2h-5v-4l-1-6v-2 2l-2 9Zm-472-79v3h-1l-6-12h-2l-1 3-2 1 3 3 5 5v1h-11l-3 3 2 3h1c4-2 8-4 12-4v1l-9 12 3 2 2-2 3-4 1-3 2-2 3 14 1 1v-1l-1-11 4 3 3 2h2v-2c-2-1-2-3-5-3l-3-1v-5l3-3h2v-1h-2v-2 2l-4-2v-12l-2 2v9Zm22 99v3h-1l-6-12h-2l-1 3-2 1 3 3 5 5v1h-11l-3 3 2 3h1c4-2 8-4 12-4v1l-9 12 3 2 2-2 3-4 1-3 2-2 3 14 1 1v-1l-1-11 4 3 3 2h2v-2c-2-1-2-3-5-3l-3-1v-5l3-3h2v-1h-2v-2 2l-4-2v-12l-2 2v9Zm609 38v3h-1l-6-12h-2l-3 3v1l3 3 5 5v1h-11l-3 3 2 3h1c4-2 8-4 12-4v1l-9 12 3 2 2-2 3-4 1-3 2-2 3 14 1 1v-3l-1-9 4 3 3 2 2-2c-2-1-2-3-5-3l-3-1v-5l3-3h2v-1l-2-2v2l-4-2v-12l-2 2v9Zm70-77v3h-1l-6-12-2 1-1 2-2 1 5 3 3 5v1h-11c-1 0-3 2-1 3v3h1c4-2 8-4 12-4l2 1-11 12 5 2 1-2 2-3 3-4 3 12 1 1v-12l3 3 5 2v-2l-3-3-3-1c-3-2-3-3-2-5l3-1 2-2v-1h-5v-5l-1-7v-2 2l-2 9Zm-791 44-2-3h2l10 9v-1l2-3v-2l-5-1-4-3v-2h1l8-3 1-4-1-2v-1l-2 1-10 8h-2l6-15h-4l-2 1v5l-1 4v2l-8-12-1-2v3l4 9-4-1h-5v1h2l3 2h4l2 4-2 3-1 2v1h1l5-1 1 4 3 6v2-2l-1-9Zm660-79-2-3h2l10 9v-2l2-3v-1l-5-2-4-3v-1h1l8-3 1-5-1-1v-2l-2 2-10 7h-2l6-15h-4l-2 2v4l-1 5v1c-3-4-6-7-8-12l-1-1v3l4 9-4-2h-5v2h2l3 1h4l2 5-2 3-1 1v2h1l5-2 1 5 3 6v1-1l-1-9Zm149-62-2-3h2l10 9v-2l2-3v-1l-5-2-4-3v-1h1l8-3 1-5-1-1v-2l-2 2-10 7h-2l6-15h-4l-2 2v4l-1 5v1c-3-4-6-7-8-12l-1-1v3l4 9-4-2h-5v2h2l3 1h4l2 5-2 3-1 1v2h1l5-2 1 5 3 6v1-1l-1-9ZM33 168v1l-1 2-6-14-2 2-1 1-2 2 3 4 5 3v2h-3l-8 1c-1 0-3 0-3 3l2 2v1l1-1 12-3v1l-9 11 3 1h2l3-4 1-5h2l3 12 1 3v-3l-1-9 4 2 3 3 2-2-5-4-3-2v-3l3-3 2-1-2-2h-3v-4l-1-6v-2l-2 2v9ZM18 270v1l-2 2-6-14-1 2-2 1-1 2 3 4 4 3v2h-3l-7 1c-2 0-3 0-3 3l1 2v1l2-1 12-3v1l-9 11 3 1h1l3-4 2-5h1l3 12 2 3v-3l-2-9 5 2 3 3 1-2-4-4-3-2v-3l3-3 1-1-1-2h-3v-4l-2-6v-2l-1 2v9ZM266 11v3h-1l-6-12-2 1-3 2v1l3 3 5 5v1h-11c-3 0-3 2-3 3l2 3c4-2 8-4 13-4v1l-9 12 3 2 2-2 3-3 1-4h2l3 12 1 1v-1l-1-11 4 3 3 3v-1h2v-2l-5-3-3-1v-5l3-1 2-2v-1h-6V0l-2 2v9Zm357 69v3h-2l-6-12-1 1-3 2v1l3 3 4 5v1h-10c-3 0-3 2-3 3l1 3c5-2 9-4 14-4v1l-9 12 3 2 1-2 3-3 2-4h1l3 12 2 1v-1l-2-11 5 3 3 3v-1h1v-2l-4-3-3-1v-5l3-1 1-2v-1h-6V69l-1 2v9ZM506 29v3h-2l-6-12-1 1-3 2v1l3 3 4 5v1h-10c-3 0-3 2-3 3l1 3c5-2 9-4 14-4v1l-9 12 3 2 1-2 3-3 2-4h1l3 12 2 1v-1l-2-11 5 3 3 3v-1h1v-2l-4-3-3-1v-5l3-1 1-2v-1h-6V18l-1 2v9Zm122 256v3h-1l-6-14-2 2-3 3 3 4 5 3v3h-11l-3 3 2 3c4-2 8-4 13-4v1l-9 11 3 1h2l3-4 1-5h2l3 14 1 1v-3l-1-9 4 2 3 3 2-2-5-4h-3v-5l3-3 2-1-2-2h-4v-12l-2 2v9Z"/></g></svg>');
	}
	details ul{
	list-style-image: url("data:image/gif;base64,R0lGODdhDQARAJEAAAAAAP///wAAAAAAACH5BAkAAAIALAAAAAANABEAAAIklI9pcazhRExwqcbmkxdnD4WVNC4aVT5Z2ljs6JRyh7DXSQsFADs=");
	}
}
@media (max-width: 700px) {
	.arch{top: -16px;}
	#interior{flex-wrap: wrap;justify-content: space-evenly;}
	.center{
		flex-basis: 90%;
		margin: 0;
		order: 0;
	}
	main{padding: 4vw;}
	.caption{font-size: 80%;}
	nav{font-size: 140%;}
	#nav-left{width: 30px;}
	.doorway{margin: 1em 1vw; order:2;flex-basis: 30%;}
	.spacer{order:2;flex-basis: 40%;}
	#sky{
		height: 14vh;
		background-size: 400px;
	}
}
