---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

import { getCollection, getEntry } from 'astro:content';
const { slug, title, shortTitle } = Astro.props;

const arch = await getEntry('content', slug);
const reusedPage = arch.id === "nominations" || arch.id === "vote";
const year = reusedPage ? `?${import.meta.env.year}` : "";

---

<a class="doorway" href={"/" + slug + year}>
  <div class="doorway-interior">
    <img src={arch.data.cover}>
    <!-- <Cover /> -->
  </div>
  <p class="caption">{arch.data.shortTitle}</p>
</a>
